body{
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
}

html{
    background-image: url(./media/pic/pizzabackground_Mesa\ de\ trabajo\ 1_Mesa\ de\ trabajo\ 1.jpg);
    background-repeat: no-repeat;
    background-color: #f1c332;
    background-attachment: scroll;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.icono{
    border: solid black 1px;
    border-radius: 100px;

}

nav{
    background-color: #d8a809;
}

button{
    font-weight: bold;
    border: 10 px solid black;
    border-radius: 10px;
    background-color: #F1C332;

}

.customcard{
    background-color: #a17e207b ;
    border: solid black 1px;
    width: 18rem;
}

.imgcarrousel1{
    background: linear-gradient(transparent, black 120%), url(./media/pic/foto1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    background-position: center;
    box-shadow: inset;
}

.imgcarrousel2{
    background: linear-gradient(transparent, black 120%), url(./media/pic/foto2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    background-position: center;
}

.imgcarrousel3{
    background: linear-gradient(transparent, black 120%), url(./media/pic/foto3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    background-position: center;
}

.links{
    font-weight: bold;
    
}